<h3>Lucas</h3>
<ul>
    <li>His Favorites:</li>
        <ul>
            <li>Foods:</li>
                <ul>
                    <li>Example</li>
                    <li>Example</li>
                    <li>Example</li>
                </ul>
            <li>Drinks:</li>
                <ul>
                    <li>Example</li>
                    <li>Example</li>
                    <li>Example</li>
                </ul>
            <li>Activities:</li>
                <ul>
                    <li>Example</li>
                    <li>Example</li>
                    <li>Example</li>
                </ul>
            <li>Season:</li>
                <ul>
                    <li>Example</li>
                </ul>
        </ul>
    <li>Profession: HVAC Installation</li>
    <li>Hometown: McHenry, IL</li>
</ul>
<h3>Bonnie</h3>
<ul>
    <li>Her Favorites:</li>
        <ul>
            <li>Foods:</li>
                <ul>
                    <li>Bún Xào Đồ Biển</li>
                    <li>Sushi</li>
                    <li>Pad See Ew</li>
                </ul>
            <li>Drinks:</li>
                <ul>
                    <li>Dry Red Wines</li>
                    <li>LeCroix</li>
                    <li>Whisky</li>
                </ul>
            <li>Activities:</li>
                <ul>
                    <li>Hiking</li>
                    <li>Puzzles</li>
                    <li>Museums</li>
                </ul>
            <li>Season:</li>
                <ul>
                    <li>Fall</li>
                </ul>
        </ul>
    <li>Profession: Software Development</li>
    <li>Hometown: Detroit, MI</li>
</ul>