<div class="about-us">
    <div class="lucas">
        <img src="../public/images/lucas.png">
        <ul class="favs">
            <li class="fav-items"><h4>Activities</h4>
                <ul>
                    <li>Photography</li>
                    <li>Fishing</li>
                    <li>Camping</li>
                </ul>
            </li>
            <li class="fav-items"><h4>Foods</h4>
                <ul>
                    <li>Pasties</li>
                    <li>Sushi</li>
                    <li>Vindaloo</li>
                </ul>
            </li>
            <li class="fav-items"><h4>Drinks</h4>
                <ul>
                    <li>Moscow Mule</li>
                    <li>Coffee</li>
                    <li>Pibb Xtra</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="bonnie">
        <img src="../public/images/bonnie.png">
        <ul class="favs">
            <li class="fav-items"><h4>Activities</h4>
                <ul>
                    <li>Museums</li>
                    <li>Hiking</li>
                    <li>Puzzles</li>
                </ul>
            </li>
            <li class="fav-items"><h4>Foods</h4>
                <ul>
                    <li>Bún Xào Đồ Biển</li>
                    <li>Sushi</li>
                    <li>Pad See Ew</li>
                </ul>
            </li>
            <li class="fav-items"><h4>Drinks</h4>
                <ul>
                    <li>Whisky</li>
                    <li>LeCroix</li>
                    <li>Dry Red Wine</li>
                </ul>
            </li>
        </ul>
    </div>
</div>