<div class="list">
    <ul>
    {{#each activity}}
        <li>
            <a href="/{{this.id}}">{{this.name}}</a>
            <img src="{{this.imgUrl}}">
        </li>
    {{/each}}
    </ul>
</div>
