<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Seattle Bucket List</title>
    <link rel="stylesheet" href="../public/css/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Gochi+Hand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Titan+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="navbar">
            <div class="title">
                <h1>LUCAS & BONNIE'S<br><span>Seattle Bucket List</span></h1>
            </div>
            <nav>
                <a href="/">Main</a>
                <a href="/new">Add New</a>
                <a href="/about">About Us</a>
            </nav>
        </div>
    </header>
    <div class="main"></div>
    {{{body}}}
    </div>
</body>

</html>