<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Seattle Bucket List</title>
    <link rel="stylesheet" href="../public/css/style.css" type="text/css">
</head>
<body>
    <nav>
        <a href="/">Main</a>
        <a href="/new">Add New</a>
    </nav>
    {{{body}}}
</body>
</html>