<h2>New Activity</h2>

<form action="/" method="post" accept-charset="utf-8">
    <input type="text" name="name" placeholder=" NAME" required>
    <input type="text" name="address" placeholder=" ADDRESS" required>
    <select name="type" required>
        <option value="" disabled selected>TYPE</option>
        <option value="Sightseeing">Sightseeing</option>
        <option value="Arts & Culture">Arts & Culture</option>
        <option value="Outdoor Recreation">Outdoor Recreation</option>
        <option value="Food & Drink">Food</option>
        <option value="Food & Drink">Drinks</option>
        <option value="Day Trip">Day Trip</option>
    </select>
    <input type="number" name="cost" min="0" placeholder=" COST"required>
    <select name="days" required>
        <option value="" disabled selected>DAYS OF OPERATION</option>
        <option value="Daily">Daily</option>
        <option value="Weekdays">Weekdays</option>
        <option value="Weekends">Weekends</option>
        <option value="Other">Other</option>
    </select>
    <select name="open" required>
        <option value="" disabled selected>OPENS @</option>
        <option value="6:00AM">6:00AM</option>
        <option value="7:00AM">7:00AM</option>
        <option value="8:00AM">8:00AM</option>
        <option value="9:00AM">9:00AM</option>
        <option value="10:00AM">10:00AM</option>
        <option value="11:00AM">11:00AM</option>
        <option value="12:00PM">12:00PM</option>
        <option value="1:00PM">1:00PM</option>
        <option value="2:00PM">2:00PM</option>
        <option value="3:00PM">3:00PM</option>
        <option value="4:00PM">4:00PM</option>
        <option value="5:00PM">5:00PM</option>
        <option value="6:00PM">6:00PM</option>
        <option value="7:00PM">7:00PM</option>
        <option value="Sunrise">Sunrise</option>
    </select>
    <select name="close" required>
        <option value="" disabled selected>CLOSES @</option>
        <option value="11:00AM">11:00AM</option>
        <option value="12:00PM">12:00PM</option>
        <option value="1:00PM">1:00PM</option>
        <option value="2:00PM">2:00PM</option>
        <option value="3:00PM">3:00PM</option>
        <option value="4:00PM">4:00PM</option>
        <option value="5:00PM">5:00PM</option>
        <option value="6:00PM">6:00PM</option>
        <option value="7:00PM">7:00PM</option>
        <option value="8:00PM">8:00PM</option>
        <option value="9:00PM">9:00PM</option>
        <option value="10:00PM">10:00PM</option>
        <option value="11:00PM">11:00PM</option>
        <option value="12:00AM">12:00AM</option>
        <option value="Sunset">Sunset</option>
    </select>
    <select name="duration" required>
        <option value="" disabled selected>DURATION</option>
        <option value="1 Hour">1 Hour</option>
        <option value="1-2 Hours">2 Hours</option>
        <option value="Half Day">Half Day</option>
        <option value="Full Day">Full Day</option>
    </select>
    <input type="url" name="url" placeholder=" WEBSITE: https://example.com" required>
    <input type="url" name="imgUrl" placeholder=" IMAGE LINK: https://example.com" required>
    <select name="user" required>
        <option value="" disabled selected>SUGGESTED BY</option>
        <option value="Bonnie">Bonnie</option>
        <option value="Lucas">Lucas</option>
        <option value="Guest">Guest</option>
    </select>
    <select name="done" required>
        <option value="" disabled selected>BEEN THERE DONE THAT?</option>
        <option value="true">true</option>
        <option value="false">false</option>
    </select>
    <input type="submit" value="Create">
</form>

<a href="/"><button class="cancel" >Cancel</button></a>