<h2>New Activity:</h2>

<form action="/" method="post" accept-charset="utf-8">
    <p>
        <label>Name:</label>
        <input type="text" name="name">
        <label>Type:</label>
        <input type="text" name="type">
        <label>Address:</label>
        <input type="text" name="address">
        <label>Cost:</label>
        <input type="text" name="cost">
        <label>Hours:</label>
        <input type="text" name="hours">
        <label>Time:</label>
        <input type="text" name="duration">
        <label>Website:</label>
        <input type="text" name="url">
        <label>User:</label>
        <input type="text" name="user">
        <label>Done:</label>
        <input type="text" name="done">
    </p>
    <input type="submit" value="Create">
</form>

<button><a href="/">Cancel</a></button>