/* MAIN STYLING */
body {
    background-color: rgb(221, 231, 247);
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
a {
    text-decoration: none;
    text-decoration-style: none;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}
.main {
    margin-top: 13.3em;
}
.title {
    background: url("../images/skyline2.jpg");
    background-size: 20em;
    background-position: 0 -30px; 
    margin: 0;
    height: 10.97em;
    width: 100%;
}
nav {
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    padding: 6px 12px;
    background:  rgb(64, 63, 65);
}
nav a, button a {
    color: white;
}
h1 {
    color: rgb(45, 7, 92);
    font-family: 'Titan One', cursive;
    line-height: 1.1em;
    font-size: 1.9em;
    margin: 0;
    padding: .3em;
}
span {
    font-size: 1em;
    font-family: 'Lobster', cursive;
}

li {
    list-style: none;
}
ul {
    margin: 0;
    padding-left: 0;
}
img {
    object-fit: cover;
    width:14.5em;
    height:14.5em;
}
.list {
    display: grid;
}
.list-item {
    font-size: 14px;
    background: white;
    margin-bottom: -3px;
}
.details {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.list-item a {
    color: rgb(45, 7, 92);
}
p {
    font-size: 1.7em;
    margin: 0;
    align-self: center;
    justify-self: center;
}
h3 {
    font-size: 1.8em; 
    margin: 0;
    background-color: lightgray;
    padding: 5px;
}
.list-image {
    justify-self: end;
}
.icons {
    object-fit: cover;
    width:1.5em;
    height:1.5em;
}
.cost {
    width:.9em;
    height:1.5em;
}



/* FORMS */
form {
    margin: 0 15px;
    display: grid;
    grid-gap: 5px;
}
input {
    width: 99%;
    border-radius: 4px;
    margin: 0;
    height: 2em;
    border: 1px solid rgb(171, 169, 173);
    font-size: 1.5em;
}

select {
    background: white;
	padding: .4em;
	width: 100%;
    border-radius: 4px;
    height: 2em;
    font-size: 1.5em;
}
h2 {
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    margin: 0;
    font-size: 2em;
    color: gray;
}
input[type=submit], button {
    width: 100%;
    background: rgb(71, 48, 100);
    color: white;
    font-size: 1em;
    outline: none;
    border: none;
    border-radius: 4px;
}
button {
    width: 92%;
    padding: 5px;
    margin: 5px 15px;
}
.delete {
    margin: 5px 15px 0 15px;
}
label {
    font-size: 1.3em;
}
input[type=text], input[type=number], input[type=url] {
    padding: 0 10px;
    width: 94%;
}

/* About Activity Page */
.about-activity img {
    width: 100%;
    height: auto;
}
.about-activity ul {
    background: white;
    padding: 10px;
    line-height: 1.5em;
    text-align: center;
    font-size: 1.4em;
}
.about-activity span, h4 {
    font-family: 'Ubuntu', sans-serif;
    color: rgb(71, 48, 100);
    font-weight: bold;
}
.about-activity li {
    border-bottom: solid 1px lightgray;
}


/* About us */
h4{
    margin: 0;
}
.about-us {
    display: flex;
    padding: 0 10px;
    font-size: 1.3em;
}
.about-us h2 {
    margin: 0;
    font-size: 1.6em;
}
.bonnie {
    text-align: right;
}
.lucas {
    padding-right: 10px;
    border-right: 1px solid black;
}
.favs {
    font-size: 1.25em;
}
.fav-items {
    margin: .5em 0;
}

@media screen and (min-width: 600px) {
    .list {
        margin: 15.5em 2em 2em 2em;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 2em;
    }
    .about-activity {
        display: flex;
        justify-content: center;
    }
    .about-activity img {
        width: 50%;
    }
    .about-activity ul {
        text-align: left;
    }
    form {
        margin: 0 auto;
        width: 50%;
    }
}